.container {
    display: flex;
}

.menu {
    flex: 1;
    background-color: var(--bgSoft);
    padding: 20px; /* TODO: change to rem */
}

.content {
    flex: 4;
    padding: 20px; /* TODO: change to rem */
}